name: Lint

on:
  workflow_call:
    inputs:
      target:
        required: false
        default: '18'
        type: string

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ inputs.target }}
          cache: 'yarn'

      - name: Yarn install
        run: yarn install --frozen-lockfile

      - name: Lint
        run: yarn lint

      - name: Typecheck
        run: yarn typecheck
