name: Test

on:
  workflow_call:
    inputs:
      target:
        required: false
        type: string
        default: '18'
      mysql_database_name:
        required: false
        type: string
      mysql_schema_path:
        required: false
        type: string
        default: 'src/helpers/schema.sql'
      redis:
        required: false
        type: boolean
        default: false
      redis_version:
        required: false
        type: string
        default: '7'
      dotenv_vars:
        required: false
        type: string

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    timeout-minutes: 2

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ inputs.target }}
          cache: 'yarn'

      - name: Set up MySQL
        if: ${{ inputs.mysql_database_name }}
        run: |
          sudo /etc/init.d/mysql start
          mysql -e 'CREATE DATABASE ${{ inputs.mysql_database_name }};' -uroot -proot
          mysql -uroot -proot ${{ inputs.mysql_database_name }} < ${{ inputs.mysql_schema_path }}
          mysql -uroot -proot -e "ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'root';"
          mysql -uroot -proot -e "FLUSH PRIVILEGES;"

      - name: Setup Redis
        if: ${{ inputs.redis }}
        uses: supercharge/redis-github-action@1.7.0
        with:
          redis-version: ${{ inputs.redis_version }}

      - name: Yarn install
        run: yarn install --frozen-lockfile

      - name: Setup test environment variables
        if: ${{ inputs.dotenv_vars }}
        run: echo -e "\n${{ inputs.dotenv_vars }}" >> test/.env.test

      - name: Test
        run: yarn test

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
